@{
    ViewBag.Title = "MapGenerator";
}

<h2>Map Generator</h2>

<div class="form-inline">

    <div class="form-group">
        <label for="map-width">Width</label>
        <input id="map-width" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="map-height">Height</label>
        <input id="map-height" type="text" class="form-control" />
    </div>

    <button id="generate" type="button" class="btn btn-default">Generate</button>
</div>
<hr />

<div class="row">
    <div class="col-xs-8">
        <div id="map-container">
            <canvas id="map">

            </canvas>
        </div>
    </div>
    <div class="col-xs-4">
        
    </div>
</div>





@section scripts{
    <script>
        (function () {
            var _tileW = 32;
            var _tileH = 32;
            var _canvas = document.getElementById('map');
            var _ctx = _canvas.getContext("2d");
            var _mouseX = 0;
            var _mouseY = 0;

            $('#generate').click(function () {
                var w = parseInt($('#map-width').val());
                var h = parseInt($('#map-height').val());

                //create grid
                adjustMap(w, h);
            });

            $('#map').mousemove(function (e) {
                _mouseX = e.offsetX;
                _mouseY = e.offsetY;
            });

            //generates a grid of map tiles
            function adjustMap(w, h) {

                _canvas.width = w * _tileW;
                _canvas.height = h * _tileH;
            }

            //draw map
            function draw() {
                //clear
                _ctx.fillStyle = "rgb(0,0,0)";
                _ctx.fillRect(0, 0, _canvas.width, _canvas.height);

                _ctx.fillStyle = "rgb(255,244,233)";
                _ctx.fillRect(_mouseX, _mouseY, 10, 10);

                //get frame
                window.requestAnimationFrame(draw);
            }

            //get frame
            window.requestAnimationFrame(draw);

        })();


    </script>
}


<div></div>