<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        SignalRPG
    </h1>
    @Html.ActionLink("Map Generator", "MapGenerator", "Dev", null, null)
    <br />
    @Html.ActionLink("Game Test", "GameTest", "Dev", null, null)
</body>
</html>
